@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	background-color: #f8f8f8;
}

.manga-item:nth-child(3n) {
	justify-self: end;
}
.manga-item:nth-child(3n + 2) {
	justify-self: center;
}
